- if user_signed_in?
  .connected
%h1 Calendrier des évenements sportifs
%br
%p 
  Le calendrier sera régulièrement mis à jour pour vous permettre de connaître le type de manifestation, le lieu, ou encore l'heure des évènements. Des rappels seront également fait régulièrement 
  %a{href:"https://www.facebook.com/pages/BDS-Ensiie-Strasbourg/178597672346957"} 
    ici
%br
%div#calendar
%div#event-dlg
