.row
 .col-md-1
 .col-md-11
  %h1 Hall of Fame
  %br
  %p Le Hall of Fame honore les personnes ayant réalisées de grands exploits, ou encore les anciens membres du BDS.
  %br
  %button.btn.btn-primary.display2015{:type => "button"} Promo 2015
  #2015
   %br
   .row
    .col-xs-6.col-md-4-offset-2
     %button.btn.btn-default{"data-container"=>"body","data-content"=>"Ancien membre du BDS de la promo 2015, a participé à la survie de ce dernier.","data-placement"=>"bottom","data-toggle"=>"popover","data-original-title"=>"Maxence Ory",type:"button","data-trigger"=>"hover"}
      %img{alt: "CH", src: "/images/Maxence_Ory.jpg"}
  %br
  %br
  %button.btn.btn-primary.display2013{:type => "button"} Promo 2013
  #2013
   %br
   .row
    .col-xs-6.col-md-4
     %button.btn.btn-default{"data-container"=>"body","data-content"=>"Fondateur du BDS de l'ENSIIE Strasbourg. Organisateur des premiers Paris - Strasbourg à vélo. Conseiller pour le BDS de la promo 2016.","data-placement"=>"right","data-toggle"=>"popover","data-original-title"=>"Jean-Francois Spatz",type:"button","data-trigger"=>"hover"}
      %img{alt: "CH", src: "/images/Jeff.jpg", width: "100%",height: "auto"}