.row
	.col-md-1
	.col-md-10
		%h2 Accueil
		%p Bienvenue sur le site du BDS de l'ENSIIE Strasbourg.
		%br
		Après plusieurs années tumultueuses pour le BDS de l'ENSIIE Strasbourg, celui-ci revient déterminé plus que jamais pour vous faire suer ! 

<i class="icon-share-alt"></i>
