.row
	.col-md-1
	.col-md-10
		%h1 Accueil
		%br
		%p Bienvenue sur le site du BDS de l'ENSIIE Strasbourg.
		%br
		%p
		%p Après plusieurs années tumultueuses pour le BDS de l'ENSIIE Strasbourg, celui-ci revient déterminé plus que jamais pour vous faire suer ! 
		%br
		Grâce à ce site vous pourrez vous tenir au courant des différents évènements que le BDS organise, regarder les photos de ces évènements, ou encore admirer les anciens membres du BDS présents dans le Hall of Fame.

<i class="icon-share-alt"></i>
