.row
  .col-md-1
  .col-md-11
    %h1 L'équipe
    %br
    %p L'équipe du BDS, qui s'efforcera de vous faire transpirer, et éliminer toutes les mauvaises graisses que vous ingérez quotidiennement chez Drinkiit.
    %br
    %br
    .row
      .col-xs-6.col-md-4.col-md-offset-2
        %button.btn.btn-default{"data-container"=>"body","data-content"=>"Président incontesté du BDS, a une maîtrise parfaite de n'importe quel sport. Si vous arrivez un jour à sa cheville, peut-être auriez vous la chance d'entendre un \"Bah bravo morray\" sortir de sa bouche.","data-placement"=>"top","data-toggle"=>"popover","data-original-title"=>"Corentin Houet - Président",type:"button"}
          %img{href:"/images/Corentin_Houet.jpeg",alt: "CH", src: "/images/Corentin_Houet.jpeg"}
      .col-xs-6.col-md-5
        %button.btn.btn-default{"data-container"=>"body","data-content"=>"A tous les stéréotypes d'un italien, fan de la Juve, roule en Abarth, et râle lorsqu'il n'y a pas de cuillère pour manger les spaghettis. Son rôle est de vous tenir au courant des différents évènements.","data-placement"=>"right","data-toggle"=>"popover","data-original-title"=>"Gabriel Metzger - Respo Com",type:"button"}
          %img.media-object{alt: "GM", src: "/images/Gabriel_Metzger.jpeg"}
    .clear
    %br
    .row
      .col-xs-6.col-md-3.col-md-offset-1
        %button.btn.btn-default{"data-container"=>"body","data-content"=>"Fan de basket qui ne sait pas dunker du haut de ses 1m92. En colaboration avec Gabriel pour la communication, parce que c'est pas toujours facile de vous motiver pour aller faire du sport.","data-placement"=>"bottom","data-toggle"=>"popover","data-original-title"=>"Pierre-Louis Nack - Respo Com",type:"button"}
          %img.media-object{alt: "GM", src: "/images/Pierre-Louis_Nack.jpeg"}
      .col-xs-6.col-md-3
        %button.btn.btn-default{"data-container"=>"body","data-content"=>"Gardien des ballons, but, ou tout autre materiel appartenant au BDS. (A completer)","data-placement"=>"bottom","data-toggle"=>"popover","data-original-title"=>"Barthelemy Saugrain - Respo logistique",type:"button"}
          %img.media-object{alt: "GM", src: "/images/Barthelemy_Saugrain.jpeg"}
      .col-xs-6.col-md-3
        %button.btn.btn-default{"data-container"=>"body","data-content"=>"test","data-placement"=>"bottom","data-toggle"=>"popover",type:"button"}
          %img.media-object{alt: "GM", src: "/images/Gabriel_Metzger.jpeg"}

















/ %ul.media-list
/   %li.media
/     %a.pull-left{href: "#"}
/       #Corentin
/         %img.media-object{href:"/images/Corentin_Houet.jpeg",alt: "CH", src: "/images/Corentin_Houet.jpeg"}
/   %li.media
/     %a.pull-left{href: "#"}
/       #Gab
/         %img.media-object{alt: "GM", src: "/images/Gabriel_Metzger.jpeg"}
/   %li.media
/     %a.pull-left{href: "#"}
/       #PL
/         %img.media-object{alt: "PLN", src: "/images/Pierre-Louis_Nack.jpeg"}
/   %li.media
/     %a.pull-left{href: "#"}
/       #Bart
/       %img.media-object{alt: "BS", src: "/images/Barthelemy_Saugrain.jpeg"}
