%h1 La team !
%ul.media-list
  %li.media
    %a.pull-left{href: "#"}
      %img.media-object{alt: "CH", src: "/images/Corentin_Houet.jpeg"}
    .media-body
      %h4.media-heading Corentin Houet - Président
      %p Voilà
  %li.media
    %a.pull-left{href: "#"}
      %img.media-object{alt: "MA", src: ""}
    .media-body
      %h4.media-heading Mebarek Agag - Trésorier
      %p Voilà
  %li.media
    %a.pull-left{href: "#"}
      %img.media-object{alt: "GM", src: "/images/Gabriel_Metzger.jpeg"}
    .media-body
      %h4.media-heading Gabriel Metzger - Respo Com
      %p Voilà
  %li.media
    %a.pull-left{href: "#"}
      %img.media-object{alt: "PLN", src: "/images/Pierre-Louis_Nack.jpeg"}
    .media-body
      %h4.media-heading Pierre-Louis Nack - Respo Com
      %p Voilà
  %li.media
    %a.pull-left{href: "#"}
      %img.media-object{alt: "BS", src: "/images/Barthelemy_Saugrain.jpeg"}
    .media-body
      %h4.media-heading Barthelemy Saugrain - Gestionnaire logistique
      %p Voilà
