.row
  .col-md-12
    #myGallery
      - @photos.each do |photo|
        %a{"data-gallery" => "", href: "#{photo.image}", title: "#{photo.title}"}
          = image_tag photo.image_url(:thumb).to_s
    =link_to "Retour aux galleries", galleries_path
