.row
  - @galleries.each do |gallery|
    .col-xs-6.col-md-3
      %a.thumbnail{href: "/galleries/#{gallery.id}/photos"}
        = image_tag gallery.cover
        .caption
          %h3= gallery.name
