/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fullcalendar
 *= require fullcalendar.print
 *= require jquery.ui.all
 *= require bootstrap-image-gallery.min.css
 *= require_tree .
 */

body{
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  	font-size: 15px;
  	line-height: 1.42857143;
	background-color: #FFECDB;
	color: white;
}

div.jumbotron{
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 15px;
	padding-bottom: 5px;
	margin-left: 30px;
	margin-right: 30px;
	background-color: rgba(255, 255, 255, 0.2);
	color:black;}

img.logo {
	max-width: 90%;
	height: auto;
	opacity: 0.8
}

h2.jum{
	text-align: center;
}

button.btn.btn-primary{
	background-color: #df691a;
	border-color: rgb(129, 128, 128);
}

button.btn-primary:hover, button.btn-primary:focus {
background-color: #ba5816;
}

button.btn-default,input.btn.btn-default{
	background-color: #df691a;
}

button.btn-default:hover, button.btn-default:focus, input.btn.btn-default:hover, input.btn.btn-default:focus{
	background-color: #ba5816;
}

a:hover {
color: white;
background-color: none;}

a:hover, a:focus {
text-decoration: underline;
}

.footer{
	height: 150px;
	margin-top: 70px;
	background-color: #2b3e50;
	width: 100%;
}

.barsep{
	border-top : 1px solid #bf5a16;
	margin-right: 30px;
	margin-left: 30px 
}
.navbar-default{
	margin-left: 30px;
	margin-right: 30px;
}

$navbar-default-bg: #bf5a16;
$navbar-default-link-color: #c85e17;
$navbar-default-link-active-color: #bf5a16;


@import "bootstrap";
@import "bootstrap/theme";
