/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fullcalendar
 *= require fullcalendar.print
 *= require jquery.ui.all
 *= require bootstrap-image-gallery.min.css
 *= require_tree .
 */
div.jumbotron{
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: white;}

img.logo {
	max-width: 60%;
	height: auto;
	opacity: 0.8
}

h2.jum{
	text-align: center;
}

button.btn.btn-primary{
	background-image: linear-gradient(to bottom, #D1D1D1 0%, #3F3F3F 100%);
	border-color: rgb(129, 128, 128);
}

button.btn-primary:hover, button.btn-primary:focus {
background-color: #3F3F3F;
}

a:hover {
color: black;
background-color: none;}

a:hover, a:focus {
text-decoration: underline;
}

.footer{
	color: white;
	height: 150px;
	margin-top: 50px;
	background-image: linear-gradient(to bottom, #898989 0%, #6f6f6f 100%);
	width: 100%

}

body{
	width:100%;
}

$navbar-default-bg: #6F6F6F;
$navbar-default-link-color: #E2DFDF;
$navbar-default-link-active-color: #2C2C2C;


@import "bootstrap";
@import "bootstrap/theme";
